@font-face {
    font-family: 'AGENCYB';
    src: url('fonts/AGENCYB.TTF');
  }
  @font-face {
    font-family: 'AGENCYR';
    src: url('fonts/AGENCYR.TTF');
  }
  @font-face {
    font-family: 'ALGER';
    src: url('fonts/ALGER.TTF');
  }
  @font-face {
    font-family: 'ANTQUAB';
    src: url('fonts/ANTQUAB.TTF');
  }
  @font-face {
    font-family: 'ANTQUABI';
    src: url('fonts/ANTQUABI.TTF');
  }
  @font-face {
    font-family: 'ANTQUAI';
    src: url('fonts/ANTQUAI.TTF');
  }
  @font-face {
    font-family: 'app866';
    src: url('fonts/app866.fon');
  }
  @font-face {
    font-family: 'arial';
    src: url('fonts/arial.ttf');
  }
  @font-face {
    font-family: 'arialbd';
    src: url('fonts/arialbd.ttf');
  }
  @font-face {
    font-family: 'arialbi';
    src: url('fonts/arialbi.ttf');
  }
  @font-face {
    font-family: 'ariali';
    src: url('fonts/ariali.ttf');
  }
  @font-face {
    font-family: 'ARIALN';
    src: url('fonts/ARIALN.TTF');
  }
  @font-face {
    font-family: 'ARIALNB';
    src: url('fonts/ARIALNB.TTF');
  }
  @font-face {
    font-family: 'ARIALNBI';
    src: url('fonts/ARIALNBI.TTF');
  }
  @font-face {
    font-family: 'ARIALNI';
    src: url('fonts/ARIALNI.TTF');
  }
  @font-face {
    font-family: 'ariblk';
    src: url('fonts/ariblk.ttf');
  }
  @font-face {
    font-family: 'ARLRDBD';
    src: url('fonts/ARLRDBD.TTF');
  }
  @font-face {
    font-family: 'bahnschrift';
    src: url('fonts/bahnschrift.ttf');
  }
  @font-face {
    font-family: 'BASKVILL';
    src: url('fonts/BASKVILL.TTF');
  }
  @font-face {
    font-family: 'BAUHS93';
    src: url('fonts/BAUHS93.TTF');
  }
  @font-face {
    font-family: 'BELL';
    src: url('fonts/BELL.TTF');
  }
  @font-face {
    font-family: 'BELLB';
    src: url('fonts/BELLB.TTF');
  }
  @font-face {
    font-family: 'BELLI';
    src: url('fonts/BELLI.TTF');
  }
  @font-face {
    font-family: 'BERNHC';
    src: url('fonts/BERNHC.TTF');
  }
  @font-face {
    font-family: 'BKANT';
    src: url('fonts/BKANT.TTF');
  }
  @font-face {
    font-family: 'BOD_B';
    src: url('fonts/BOD_B.TTF');
  }
  @font-face {
    font-family: 'BOD_BI';
    src: url('fonts/BOD_BI.TTF');
  }
  @font-face {
    font-family: 'BOD_BLAI';
    src: url('fonts/BOD_BLAI.TTF');
  }
  @font-face {
    font-family: 'BOD_BLAR';
    src: url('fonts/BOD_BLAR.TTF');
  }
  @font-face {
    font-family: 'BOD_CB';
    src: url('fonts/BOD_CB.TTF');
  }
  @font-face {
    font-family: 'BOD_CBI';
    src: url('fonts/BOD_CBI.TTF');
  }
  @font-face {
    font-family: 'BOD_CI';
    src: url('fonts/BOD_CI.TTF');
  }
  @font-face {
    font-family: 'BOD_CR';
    src: url('fonts/BOD_CR.TTF');
  }
  @font-face {
    font-family: 'BOD_I';
    src: url('fonts/BOD_I.TTF');
  }
  @font-face {
    font-family: 'BOD_PSTC';
    src: url('fonts/BOD_PSTC.TTF');
  }
  @font-face {
    font-family: 'BOD_R';
    src: url('fonts/BOD_R.TTF');
  }
  @font-face {
    font-family: 'BOOKOS';
    src: url('fonts/BOOKOS.TTF');
  }
  @font-face {
    font-family: 'BOOKOSB';
    src: url('fonts/BOOKOSB.TTF');
  }
  @font-face {
    font-family: 'BOOKOSBI';
    src: url('fonts/BOOKOSBI.TTF');
  }
  @font-face {
    font-family: 'BOOKOSI';
    src: url('fonts/BOOKOSI.TTF');
  }
  @font-face {
    font-family: 'BRADHITC';
    src: url('fonts/BRADHITC.TTF');
  }
  @font-face {
    font-family: 'BRITANIC';
    src: url('fonts/BRITANIC.TTF');
  }
  @font-face {
    font-family: 'BRLNSB';
    src: url('fonts/BRLNSB.TTF');
  }
  @font-face {
    font-family: 'BRLNSDB';
    src: url('fonts/BRLNSDB.TTF');
  }
  @font-face {
    font-family: 'BRLNSR';
    src: url('fonts/BRLNSR.TTF');
  }
  @font-face {
    font-family: 'BROADW';
    src: url('fonts/BROADW.TTF');
  }
  @font-face {
    font-family: 'BRUSHSCI';
    src: url('fonts/BRUSHSCI.TTF');
  }
  @font-face {
    font-family: 'BSSYM7';
    src: url('fonts/BSSYM7.TTF');
  }
  @font-face {
    font-family: 'calibri';
    src: url('fonts/calibri.ttf');
  }
  @font-face {
    font-family: 'calibrib';
    src: url('fonts/calibrib.ttf');
  }
  @font-face {
    font-family: 'calibrii';
    src: url('fonts/calibrii.ttf');
  }
  @font-face {
    font-family: 'calibril';
    src: url('fonts/calibril.ttf');
  }
  @font-face {
    font-family: 'calibrili';
    src: url('fonts/calibrili.ttf');
  }
  @font-face {
    font-family: 'calibriz';
    src: url('fonts/calibriz.ttf');
  }
  @font-face {
    font-family: 'CALIFB';
    src: url('fonts/CALIFB.TTF');
  }
  @font-face {
    font-family: 'CALIFI';
    src: url('fonts/CALIFI.TTF');
  }
  @font-face {
    font-family: 'CALIFR';
    src: url('fonts/CALIFR.TTF');
  }
  @font-face {
    font-family: 'CALIST';
    src: url('fonts/CALIST.TTF');
  }
  @font-face {
    font-family: 'CALISTB';
    src: url('fonts/CALISTB.TTF');
  }
  @font-face {
    font-family: 'CALISTBI';
    src: url('fonts/CALISTBI.TTF');
  }
  @font-face {
    font-family: 'CALISTI';
    src: url('fonts/CALISTI.TTF');
  }
  @font-face {
    font-family: 'cambria';
    src: url('fonts/cambria.ttc');
  }
  @font-face {
    font-family: 'cambriab';
    src: url('fonts/cambriab.ttf');
  }
  @font-face {
    font-family: 'cambriai';
    src: url('fonts/cambriai.ttf');
  }
  @font-face {
    font-family: 'cambriaz';
    src: url('fonts/cambriaz.ttf');
  }
  @font-face {
    font-family: 'Candara';
    src: url('fonts/Candara.ttf');
  }
  @font-face {
    font-family: 'Candarab';
    src: url('fonts/Candarab.ttf');
  }
  @font-face {
    font-family: 'Candarai';
    src: url('fonts/Candarai.ttf');
  }
  @font-face {
    font-family: 'Candaral';
    src: url('fonts/Candaral.ttf');
  }
  @font-face {
    font-family: 'Candarali';
    src: url('fonts/Candarali.ttf');
  }
  @font-face {
    font-family: 'Candaraz';
    src: url('fonts/Candaraz.ttf');
  }
  @font-face {
    font-family: 'CASTELAR';
    src: url('fonts/CASTELAR.TTF');
  }
  @font-face {
    font-family: 'CENSCBK';
    src: url('fonts/CENSCBK.TTF');
  }
  @font-face {
    font-family: 'CENTAUR';
    src: url('fonts/CENTAUR.TTF');
  }
  @font-face {
    font-family: 'CENTURY';
    src: url('fonts/CENTURY.TTF');
  }
  @font-face {
    font-family: 'CHILLER';
    src: url('fonts/CHILLER.TTF');
  }
  @font-face {
    font-family: 'COLONNA';
    src: url('fonts/COLONNA.TTF');
  }
  @font-face {
    font-family: 'comic';
    src: url('fonts/comic.ttf');
  }
  @font-face {
    font-family: 'comicbd';
    src: url('fonts/comicbd.ttf');
  }
  @font-face {
    font-family: 'comici';
    src: url('fonts/comici.ttf');
  }
  @font-face {
    font-family: 'comicz';
    src: url('fonts/comicz.ttf');
  }
  @font-face {
    font-family: 'consola';
    src: url('fonts/consola.ttf');
  }
  @font-face {
    font-family: 'consolab';
    src: url('fonts/consolab.ttf');
  }
  @font-face {
    font-family: 'consolai';
    src: url('fonts/consolai.ttf');
  }
  @font-face {
    font-family: 'consolaz';
    src: url('fonts/consolaz.ttf');
  }
  @font-face {
    font-family: 'constan';
    src: url('fonts/constan.ttf');
  }
  @font-face {
    font-family: 'constanb';
    src: url('fonts/constanb.ttf');
  }
  @font-face {
    font-family: 'constani';
    src: url('fonts/constani.ttf');
  }
  @font-face {
    font-family: 'constanz';
    src: url('fonts/constanz.ttf');
  }
  @font-face {
    font-family: 'COOPBL';
    src: url('fonts/COOPBL.TTF');
  }
  @font-face {
    font-family: 'COPRGTB';
    src: url('fonts/COPRGTB.TTF');
  }
  @font-face {
    font-family: 'COPRGTL';
    src: url('fonts/COPRGTL.TTF');
  }
  @font-face {
    font-family: 'corbel';
    src: url('fonts/corbel.ttf');
  }
  @font-face {
    font-family: 'corbelb';
    src: url('fonts/corbelb.ttf');
  }
  @font-face {
    font-family: 'corbeli';
    src: url('fonts/corbeli.ttf');
  }
  @font-face {
    font-family: 'corbell';
    src: url('fonts/corbell.ttf');
  }
  @font-face {
    font-family: 'corbelli';
    src: url('fonts/corbelli.ttf');
  }
  @font-face {
    font-family: 'corbelz';
    src: url('fonts/corbelz.ttf');
  }
  @font-face {
    font-family: 'cour';
    src: url('fonts/cour.ttf');
  }
  @font-face {
    font-family: 'courbd';
    src: url('fonts/courbd.ttf');
  }
  @font-face {
    font-family: 'courbi';
    src: url('fonts/courbi.ttf');
  }
  @font-face {
    font-family: 'courer';
    src: url('fonts/courer.fon');
  }
  @font-face {
    font-family: 'couri';
    src: url('fonts/couri.ttf');
  }
  @font-face {
    font-family: 'CURLZ___';
    src: url('fonts/CURLZ___.TTF');
  }
  @font-face {
    font-family: 'DUBAI-BOLD';
    src: url('fonts/DUBAI-BOLD.TTF');
  }
  @font-face {
    font-family: 'DUBAI-LIGHT';
    src: url('fonts/DUBAI-LIGHT.TTF');
  }
  @font-face {
    font-family: 'DUBAI-MEDIUM';
    src: url('fonts/DUBAI-MEDIUM.TTF');
  }
  @font-face {
    font-family: 'DUBAI-REGULAR';
    src: url('fonts/DUBAI-REGULAR.TTF');
  }
  @font-face {
    font-family: 'ebrima';
    src: url('fonts/ebrima.ttf');
  }
  @font-face {
    font-family: 'ebrimabd';
    src: url('fonts/ebrimabd.ttf');
  }
  @font-face {
    font-family: 'ELEPHNT';
    src: url('fonts/ELEPHNT.TTF');
  }
  @font-face {
    font-family: 'ELEPHNTI';
    src: url('fonts/ELEPHNTI.TTF');
  }
  @font-face {
    font-family: 'ENGR';
    src: url('fonts/ENGR.TTF');
  }
  @font-face {
    font-family: 'ERASBD';
    src: url('fonts/ERASBD.TTF');
  }
  @font-face {
    font-family: 'ERASDEMI';
    src: url('fonts/ERASDEMI.TTF');
  }
  @font-face {
    font-family: 'ERASLGHT';
    src: url('fonts/ERASLGHT.TTF');
  }
  @font-face {
    font-family: 'ERASMD';
    src: url('fonts/ERASMD.TTF');
  }
  @font-face {
    font-family: 'FELIXTI';
    src: url('fonts/FELIXTI.TTF');
  }
  @font-face {
    font-family: 'filelist';
    src: url('fonts/filelist.txt');
  }
  @font-face {
    font-family: 'FORTE';
    src: url('fonts/FORTE.TTF');
  }
  @font-face {
    font-family: 'FRABK';
    src: url('fonts/FRABK.TTF');
  }
  @font-face {
    font-family: 'FRABKIT';
    src: url('fonts/FRABKIT.TTF');
  }
  @font-face {
    font-family: 'FRADM';
    src: url('fonts/FRADM.TTF');
  }
  @font-face {
    font-family: 'FRADMCN';
    src: url('fonts/FRADMCN.TTF');
  }
  @font-face {
    font-family: 'FRADMIT';
    src: url('fonts/FRADMIT.TTF');
  }
  @font-face {
    font-family: 'FRAHV';
    src: url('fonts/FRAHV.TTF');
  }
  @font-face {
    font-family: 'FRAHVIT';
    src: url('fonts/FRAHVIT.TTF');
  }
  @font-face {
    font-family: 'framd';
    src: url('fonts/framd.ttf');
  }
  @font-face {
    font-family: 'FRAMDCN';
    src: url('fonts/FRAMDCN.TTF');
  }
  @font-face {
    font-family: 'framdit';
    src: url('fonts/framdit.ttf');
  }
  @font-face {
    font-family: 'FREESCPT';
    src: url('fonts/FREESCPT.TTF');
  }
  @font-face {
    font-family: 'FRSCRIPT';
    src: url('fonts/FRSCRIPT.TTF');
  }
  @font-face {
    font-family: 'FTLTLT';
    src: url('fonts/FTLTLT.TTF');
  }
  @font-face {
    font-family: 'Gabriola';
    src: url('fonts/Gabriola.ttf');
  }
  @font-face {
    font-family: 'gadugi';
    src: url('fonts/gadugi.ttf');
  }
  @font-face {
    font-family: 'gadugib';
    src: url('fonts/gadugib.ttf');
  }
  @font-face {
    font-family: 'GARA';
    src: url('fonts/GARA.TTF');
  }
  @font-face {
    font-family: 'GARABD';
    src: url('fonts/GARABD.TTF');
  }
  @font-face {
    font-family: 'GARAIT';
    src: url('fonts/GARAIT.TTF');
  }
  @font-face {
    font-family: 'georgia';
    src: url('fonts/georgia.ttf');
  }
  @font-face {
    font-family: 'georgiab';
    src: url('fonts/georgiab.ttf');
  }
  @font-face {
    font-family: 'georgiai';
    src: url('fonts/georgiai.ttf');
  }
  @font-face {
    font-family: 'georgiaz';
    src: url('fonts/georgiaz.ttf');
  }
  @font-face {
    font-family: 'GIGI';
    src: url('fonts/GIGI.TTF');
  }
  @font-face {
    font-family: 'GILBI___';
    src: url('fonts/GILBI___.TTF');
  }
  @font-face {
    font-family: 'GILB____';
    src: url('fonts/GILB____.TTF');
  }
  @font-face {
    font-family: 'GILC____';
    src: url('fonts/GILC____.TTF');
  }
  @font-face {
    font-family: 'GILI____';
    src: url('fonts/GILI____.TTF');
  }
  @font-face {
    font-family: 'GILLUBCD';
    src: url('fonts/GILLUBCD.TTF');
  }
  @font-face {
    font-family: 'GILSANUB';
    src: url('fonts/GILSANUB.TTF');
  }
  @font-face {
    font-family: 'GIL_____';
    src: url('fonts/GIL_____.TTF');
  }
  @font-face {
    font-family: 'GLECB';
    src: url('fonts/GLECB.TTF');
  }
  @font-face {
    font-family: 'GlitchGoblin-2O87v';
    src: url('fonts/GlitchGoblin-2O87v.ttf');
  }
  @font-face {
    font-family: 'GLSNECB';
    src: url('fonts/GLSNECB.TTF');
  }
  @font-face {
    font-family: 'GOTHIC';
    src: url('fonts/GOTHIC.TTF');
  }
  @font-face {
    font-family: 'GOTHICB';
    src: url('fonts/GOTHICB.TTF');
  }
  @font-face {
    font-family: 'GOTHICBI';
    src: url('fonts/GOTHICBI.TTF');
  }
  @font-face {
    font-family: 'GOTHICI';
    src: url('fonts/GOTHICI.TTF');
  }
  @font-face {
    font-family: 'GOUDOS';
    src: url('fonts/GOUDOS.TTF');
  }
  @font-face {
    font-family: 'GOUDOSB';
    src: url('fonts/GOUDOSB.TTF');
  }
  @font-face {
    font-family: 'GOUDOSI';
    src: url('fonts/GOUDOSI.TTF');
  }
  @font-face {
    font-family: 'GOUDYSTO';
    src: url('fonts/GOUDYSTO.TTF');
  }
  @font-face {
    font-family: 'HARLOWSI';
    src: url('fonts/HARLOWSI.TTF');
  }
  @font-face {
    font-family: 'HARNGTON';
    src: url('fonts/HARNGTON.TTF');
  }
  @font-face {
    font-family: 'HATTEN';
    src: url('fonts/HATTEN.TTF');
  }
  @font-face {
    font-family: 'himalaya';
    src: url('fonts/himalaya.ttf');
  }
  @font-face {
    font-family: 'holomdl2';
    src: url('fonts/holomdl2.ttf');
  }
  @font-face {
    font-family: 'HTOWERT';
    src: url('fonts/HTOWERT.TTF');
  }
  @font-face {
    font-family: 'HTOWERTI';
    src: url('fonts/HTOWERTI.TTF');
  }
  @font-face {
    font-family: 'impact';
    src: url('fonts/impact.ttf');
  }
  @font-face {
    font-family: 'IMPRISHA';
    src: url('fonts/IMPRISHA.TTF');
  }
  @font-face {
    font-family: 'INFROMAN';
    src: url('fonts/INFROMAN.TTF');
  }
  @font-face {
    font-family: 'Inkfree';
    src: url('fonts/Inkfree.ttf');
  }
  @font-face {
    font-family: 'ITCBLKAD';
    src: url('fonts/ITCBLKAD.TTF');
  }
  @font-face {
    font-family: 'ITCEDSCR';
    src: url('fonts/ITCEDSCR.TTF');
  }
  @font-face {
    font-family: 'ITCKRIST';
    src: url('fonts/ITCKRIST.TTF');
  }
  @font-face {
    font-family: 'javatext';
    src: url('fonts/javatext.ttf');
  }
  @font-face {
    font-family: 'JOKERMAN';
    src: url('fonts/JOKERMAN.TTF');
  }
  @font-face {
    font-family: 'JUICE___';
    src: url('fonts/JUICE___.TTF');
  }
  @font-face {
    font-family: 'KUNSTLER';
    src: url('fonts/KUNSTLER.TTF');
  }
  @font-face {
    font-family: 'LATINWD';
    src: url('fonts/LATINWD.TTF');
  }
  @font-face {
    font-family: 'LBRITE';
    src: url('fonts/LBRITE.TTF');
  }
  @font-face {
    font-family: 'LBRITED';
    src: url('fonts/LBRITED.TTF');
  }
  @font-face {
    font-family: 'LBRITEDI';
    src: url('fonts/LBRITEDI.TTF');
  }
  @font-face {
    font-family: 'LBRITEI';
    src: url('fonts/LBRITEI.TTF');
  }
  @font-face {
    font-family: 'LCALLIG';
    src: url('fonts/LCALLIG.TTF');
  }
  @font-face {
    font-family: 'LeelaUIb';
    src: url('fonts/LeelaUIb.ttf');
  }
  @font-face {
    font-family: 'LEELAWAD';
    src: url('fonts/LEELAWAD.TTF');
  }
  @font-face {
    font-family: 'LEELAWDB';
    src: url('fonts/LEELAWDB.TTF');
  }
  @font-face {
    font-family: 'LeelawUI';
    src: url('fonts/LeelawUI.ttf');
  }
  @font-face {
    font-family: 'LeelUIsl';
    src: url('fonts/LeelUIsl.ttf');
  }
  @font-face {
    font-family: 'LFAX';
    src: url('fonts/LFAX.TTF');
  }
  @font-face {
    font-family: 'LFAXD';
    src: url('fonts/LFAXD.TTF');
  }
  @font-face {
    font-family: 'LFAXDI';
    src: url('fonts/LFAXDI.TTF');
  }
  @font-face {
    font-family: 'LFAXI';
    src: url('fonts/LFAXI.TTF');
  }
  @font-face {
    font-family: 'LHANDW';
    src: url('fonts/LHANDW.TTF');
  }
  @font-face {
    font-family: 'LSANS';
    src: url('fonts/LSANS.TTF');
  }
  @font-face {
    font-family: 'LSANSD';
    src: url('fonts/LSANSD.TTF');
  }
  @font-face {
    font-family: 'LSANSDI';
    src: url('fonts/LSANSDI.TTF');
  }
  @font-face {
    font-family: 'LSANSI';
    src: url('fonts/LSANSI.TTF');
  }
  @font-face {
    font-family: 'LTYPE';
    src: url('fonts/LTYPE.TTF');
  }
  @font-face {
    font-family: 'LTYPEB';
    src: url('fonts/LTYPEB.TTF');
  }
  @font-face {
    font-family: 'LTYPEBO';
    src: url('fonts/LTYPEBO.TTF');
  }
  @font-face {
    font-family: 'LTYPEO';
    src: url('fonts/LTYPEO.TTF');
  }
  @font-face {
    font-family: 'lucon';
    src: url('fonts/lucon.ttf');
  }
  @font-face {
    font-family: 'l_10646';
    src: url('fonts/l_10646.ttf');
  }
  @font-face {
    font-family: 'MAGNETOB';
    src: url('fonts/MAGNETOB.TTF');
  }
  @font-face {
    font-family: 'MAIAN';
    src: url('fonts/MAIAN.TTF');
  }
  @font-face {
    font-family: 'malgun';
    src: url('fonts/malgun.ttf');
  }
  @font-face {
    font-family: 'malgunbd';
    src: url('fonts/malgunbd.ttf');
  }
  @font-face {
    font-family: 'malgunsl';
    src: url('fonts/malgunsl.ttf');
  }
  @font-face {
    font-family: 'MATURASC';
    src: url('fonts/MATURASC.TTF');
  }
  @font-face {
    font-family: 'micross';
    src: url('fonts/micross.ttf');
  }
  @font-face {
    font-family: 'mingliub';
    src: url('fonts/mingliub.ttc');
  }
  @font-face {
    font-family: 'MISTRAL';
    src: url('fonts/MISTRAL.TTF');
  }
  @font-face {
    font-family: 'mmrtext';
    src: url('fonts/mmrtext.ttf');
  }
  @font-face {
    font-family: 'mmrtextb';
    src: url('fonts/mmrtextb.ttf');
  }
  @font-face {
    font-family: 'MOD20';
    src: url('fonts/MOD20.TTF');
  }
  @font-face {
    font-family: 'modern';
    src: url('fonts/modern.fon');
  }
  @font-face {
    font-family: 'monbaiti';
    src: url('fonts/monbaiti.ttf');
  }
  @font-face {
    font-family: 'msgothic';
    src: url('fonts/msgothic.ttc');
  }
  @font-face {
    font-family: 'msjh';
    src: url('fonts/msjh.ttc');
  }
  @font-face {
    font-family: 'msjhbd';
    src: url('fonts/msjhbd.ttc');
  }
  @font-face {
    font-family: 'msjhl';
    src: url('fonts/msjhl.ttc');
  }
  @font-face {
    font-family: 'MSUIGHUB';
    src: url('fonts/MSUIGHUB.TTF');
  }
  @font-face {
    font-family: 'MSUIGHUR';
    src: url('fonts/MSUIGHUR.TTF');
  }
  @font-face {
    font-family: 'msyh';
    src: url('fonts/msyh.ttc');
  }
  @font-face {
    font-family: 'msyhbd';
    src: url('fonts/msyhbd.ttc');
  }
  @font-face {
    font-family: 'msyhl';
    src: url('fonts/msyhl.ttc');
  }
  @font-face {
    font-family: 'msyi';
    src: url('fonts/msyi.ttf');
  }
  @font-face {
    font-family: 'MTCORSVA';
    src: url('fonts/MTCORSVA.TTF');
  }
  @font-face {
    font-family: 'MTEXTRA';
    src: url('fonts/MTEXTRA.TTF');
  }
  @font-face {
    font-family: 'mvboli';
    src: url('fonts/mvboli.ttf');
  }
  @font-face {
    font-family: 'NIAGENG';
    src: url('fonts/NIAGENG.TTF');
  }
  @font-face {
    font-family: 'NIAGSOL';
    src: url('fonts/NIAGSOL.TTF');
  }
  @font-face {
    font-family: 'Nirmala';
    src: url('fonts/Nirmala.ttf');
  }
  @font-face {
    font-family: 'NirmalaB';
    src: url('fonts/NirmalaB.ttf');
  }
  @font-face {
    font-family: 'NirmalaS';
    src: url('fonts/NirmalaS.ttf');
  }
  @font-face {
    font-family: 'ntailu';
    src: url('fonts/ntailu.ttf');
  }
  @font-face {
    font-family: 'ntailub';
    src: url('fonts/ntailub.ttf');
  }
  @font-face {
    font-family: 'OCRAEXT';
    src: url('fonts/OCRAEXT.TTF');
  }
  @font-face {
    font-family: 'OLDENGL';
    src: url('fonts/OLDENGL.TTF');
  }
  @font-face {
    font-family: 'ONYX';
    src: url('fonts/ONYX.TTF');
  }
  @font-face {
    font-family: 'OUTLOOK';
    src: url('fonts/OUTLOOK.TTF');
  }
  @font-face {
    font-family: 'pala';
    src: url('fonts/pala.ttf');
  }
  @font-face {
    font-family: 'palab';
    src: url('fonts/palab.ttf');
  }
  @font-face {
    font-family: 'palabi';
    src: url('fonts/palabi.ttf');
  }
  @font-face {
    font-family: 'palai';
    src: url('fonts/palai.ttf');
  }
  @font-face {
    font-family: 'PALSCRI';
    src: url('fonts/PALSCRI.TTF');
  }
  @font-face {
    font-family: 'PAPYRUS';
    src: url('fonts/PAPYRUS.TTF');
  }
  @font-face {
    font-family: 'PARCHM';
    src: url('fonts/PARCHM.TTF');
  }
  @font-face {
    font-family: 'PERBI___';
    src: url('fonts/PERBI___.TTF');
  }
  @font-face {
    font-family: 'PERB____';
    src: url('fonts/PERB____.TTF');
  }
  @font-face {
    font-family: 'PERI____';
    src: url('fonts/PERI____.TTF');
  }
  @font-face {
    font-family: 'PERTIBD';
    src: url('fonts/PERTIBD.TTF');
  }
  @font-face {
    font-family: 'PERTILI';
    src: url('fonts/PERTILI.TTF');
  }
  @font-face {
    font-family: 'PER_____';
    src: url('fonts/PER_____.TTF');
  }
  @font-face {
    font-family: 'phagspa';
    src: url('fonts/phagspa.ttf');
  }
  @font-face {
    font-family: 'phagspab';
    src: url('fonts/phagspab.ttf');
  }
  @font-face {
    font-family: 'PLAYBILL';
    src: url('fonts/PLAYBILL.TTF');
  }
  @font-face {
    font-family: 'POORICH';
    src: url('fonts/POORICH.TTF');
  }
  @font-face {
    font-family: 'PRISTINA';
    src: url('fonts/PRISTINA.TTF');
  }
  @font-face {
    font-family: 'RAGE';
    src: url('fonts/RAGE.TTF');
  }
  @font-face {
    font-family: 'RAVIE';
    src: url('fonts/RAVIE.TTF');
  }
  @font-face {
    font-family: 'REFSAN';
    src: url('fonts/REFSAN.TTF');
  }
  @font-face {
    font-family: 'REFSPCL';
    src: url('fonts/REFSPCL.TTF');
  }
  @font-face {
    font-family: 'ROCCB___';
    src: url('fonts/ROCCB___.TTF');
  }
  @font-face {
    font-family: 'ROCC____';
    src: url('fonts/ROCC____.TTF');
  }
  @font-face {
    font-family: 'ROCK';
    src: url('fonts/ROCK.TTF');
  }
  @font-face {
    font-family: 'ROCKB';
    src: url('fonts/ROCKB.TTF');
  }
  @font-face {
    font-family: 'ROCKBI';
    src: url('fonts/ROCKBI.TTF');
  }
  @font-face {
    font-family: 'ROCKEB';
    src: url('fonts/ROCKEB.TTF');
  }
  @font-face {
    font-family: 'ROCKI';
    src: url('fonts/ROCKI.TTF');
  }
  @font-face {
    font-family: 'roman';
    src: url('fonts/roman.fon');
  }
  @font-face {
    font-family: 'SCHLBKB';
    src: url('fonts/SCHLBKB.TTF');
  }
  @font-face {
    font-family: 'SCHLBKBI';
    src: url('fonts/SCHLBKBI.TTF');
  }
  @font-face {
    font-family: 'SCHLBKI';
    src: url('fonts/SCHLBKI.TTF');
  }
  @font-face {
    font-family: 'script';
    src: url('fonts/script.fon');
  }
  @font-face {
    font-family: 'SCRIPTBL';
    src: url('fonts/SCRIPTBL.TTF');
  }
  @font-face {
    font-family: 'segmdl2';
    src: url('fonts/segmdl2.ttf');
  }
  @font-face {
    font-family: 'segoepr';
    src: url('fonts/segoepr.ttf');
  }
  @font-face {
    font-family: 'segoeprb';
    src: url('fonts/segoeprb.ttf');
  }
  @font-face {
    font-family: 'segoesc';
    src: url('fonts/segoesc.ttf');
  }
  @font-face {
    font-family: 'segoescb';
    src: url('fonts/segoescb.ttf');
  }
  @font-face {
    font-family: 'segoeui';
    src: url('fonts/segoeui.ttf');
  }
  @font-face {
    font-family: 'segoeuib';
    src: url('fonts/segoeuib.ttf');
  }
  @font-face {
    font-family: 'segoeuii';
    src: url('fonts/segoeuii.ttf');
  }
  @font-face {
    font-family: 'segoeuil';
    src: url('fonts/segoeuil.ttf');
  }
  @font-face {
    font-family: 'segoeuisl';
    src: url('fonts/segoeuisl.ttf');
  }
  @font-face {
    font-family: 'segoeuiz';
    src: url('fonts/segoeuiz.ttf');
  }
  @font-face {
    font-family: 'seguibl';
    src: url('fonts/seguibl.ttf');
  }
  @font-face {
    font-family: 'seguibli';
    src: url('fonts/seguibli.ttf');
  }
  @font-face {
    font-family: 'seguiemj';
    src: url('fonts/seguiemj.ttf');
  }
  @font-face {
    font-family: 'seguihis';
    src: url('fonts/seguihis.ttf');
  }
  @font-face {
    font-family: 'seguili';
    src: url('fonts/seguili.ttf');
  }
  @font-face {
    font-family: 'seguisb';
    src: url('fonts/seguisb.ttf');
  }
  @font-face {
    font-family: 'seguisbi';
    src: url('fonts/seguisbi.ttf');
  }
  @font-face {
    font-family: 'seguisli';
    src: url('fonts/seguisli.ttf');
  }
  @font-face {
    font-family: 'seguisym';
    src: url('fonts/seguisym.ttf');
  }
  @font-face {
    font-family: 'serifer';
    src: url('fonts/serifer.fon');
  }
  @font-face {
    font-family: 'seriffr';
    src: url('fonts/seriffr.fon');
  }
  @font-face {
    font-family: 'SHOWG';
    src: url('fonts/SHOWG.TTF');
  }
  @font-face {
    font-family: 'simsun';
    src: url('fonts/simsun.ttc');
  }
  @font-face {
    font-family: 'simsunb';
    src: url('fonts/simsunb.ttf');
  }
  @font-face {
    font-family: 'Sitka';
    src: url('fonts/Sitka.ttc');
  }
  @font-face {
    font-family: 'SitkaB';
    src: url('fonts/SitkaB.ttc');
  }
  @font-face {
    font-family: 'SitkaI';
    src: url('fonts/SitkaI.ttc');
  }
  @font-face {
    font-family: 'SitkaZ';
    src: url('fonts/SitkaZ.ttc');
  }
  @font-face {
    font-family: 'smaller';
    src: url('fonts/smaller.fon');
  }
  @font-face {
    font-family: 'SNAP____';
    src: url('fonts/SNAP____.TTF');
  }
  @font-face {
    font-family: 'sserifer';
    src: url('fonts/sserifer.fon');
  }
  @font-face {
    font-family: 'STENCIL';
    src: url('fonts/STENCIL.TTF');
  }
  @font-face {
    font-family: 'sylfaen';
    src: url('fonts/sylfaen.ttf');
  }
  @font-face {
    font-family: 'symbol';
    src: url('fonts/symbol.ttf');
  }
  @font-face {
    font-family: 'tahoma';
    src: url('fonts/tahoma.ttf');
  }
  @font-face {
    font-family: 'tahomabd';
    src: url('fonts/tahomabd.ttf');
  }
  @font-face {
    font-family: 'taile';
    src: url('fonts/taile.ttf');
  }
  @font-face {
    font-family: 'taileb';
    src: url('fonts/taileb.ttf');
  }
  @font-face {
    font-family: 'TCBI____';
    src: url('fonts/TCBI____.TTF');
  }
  @font-face {
    font-family: 'TCB_____';
    src: url('fonts/TCB_____.TTF');
  }
  @font-face {
    font-family: 'TCCB____';
    src: url('fonts/TCCB____.TTF');
  }
  @font-face {
    font-family: 'TCCEB';
    src: url('fonts/TCCEB.TTF');
  }
  @font-face {
    font-family: 'TCCM____';
    src: url('fonts/TCCM____.TTF');
  }
  @font-face {
    font-family: 'TCMI____';
    src: url('fonts/TCMI____.TTF');
  }
  @font-face {
    font-family: 'TCM_____';
    src: url('fonts/TCM_____.TTF');
  }
  @font-face {
    font-family: 'TEMPSITC';
    src: url('fonts/TEMPSITC.TTF');
  }
  @font-face {
    font-family: 'times';
    src: url('fonts/times.ttf');
  }
  @font-face {
    font-family: 'timesbd';
    src: url('fonts/timesbd.ttf');
  }
  @font-face {
    font-family: 'timesbi';
    src: url('fonts/timesbi.ttf');
  }
  @font-face {
    font-family: 'timesi';
    src: url('fonts/timesi.ttf');
  }
  @font-face {
    font-family: 'trebuc';
    src: url('fonts/trebuc.ttf');
  }
  @font-face {
    font-family: 'trebucbd';
    src: url('fonts/trebucbd.ttf');
  }
  @font-face {
    font-family: 'trebucbi';
    src: url('fonts/trebucbi.ttf');
  }
  @font-face {
    font-family: 'trebucit';
    src: url('fonts/trebucit.ttf');
  }
  @font-face {
    font-family: 'verdana';
    src: url('fonts/verdana.ttf');
  }
  @font-face {
    font-family: 'verdanab';
    src: url('fonts/verdanab.ttf');
  }
  @font-face {
    font-family: 'verdanai';
    src: url('fonts/verdanai.ttf');
  }
  @font-face {
    font-family: 'verdanaz';
    src: url('fonts/verdanaz.ttf');
  }
  @font-face {
    font-family: 'vga866';
    src: url('fonts/vga866.fon');
  }
  @font-face {
    font-family: 'vgafixr';
    src: url('fonts/vgafixr.fon');
  }
  @font-face {
    font-family: 'vgasysr';
    src: url('fonts/vgasysr.fon');
  }
  @font-face {
    font-family: 'VINERITC';
    src: url('fonts/VINERITC.TTF');
  }
  @font-face {
    font-family: 'VIVALDII';
    src: url('fonts/VIVALDII.TTF');
  }
  @font-face {
    font-family: 'VLADIMIR';
    src: url('fonts/VLADIMIR.TTF');
  }
  @font-face {
    font-family: 'webdings';
    src: url('fonts/webdings.ttf');
  }
  @font-face {
    font-family: 'wingding';
    src: url('fonts/wingding.ttf');
  }
  @font-face {
    font-family: 'WINGDNG2';
    src: url('fonts/WINGDNG2.TTF');
  }
  @font-face {
    font-family: 'WINGDNG3';
    src: url('fonts/WINGDNG3.TTF');
  }
  @font-face {
    font-family: 'YuGothB';
    src: url('fonts/YuGothB.ttc');
  }
  @font-face {
    font-family: 'YuGothL';
    src: url('fonts/YuGothL.ttc');
  }
  @font-face {
    font-family: 'YuGothM';
    src: url('fonts/YuGothM.ttc');
  }
  @font-face {
    font-family: 'YuGothR';
    src: url('fonts/YuGothR.ttc');
  }
  